body{
    background-color: rgb(248, 239, 235);
}

.btn-primary{
 background-color: rgb(255, 0, 59);
 border-color: rgb(255, 0, 59);
}
.btn-primary:hover{
 background-color: white;
 color:rgb(255, 0, 59);
 border-color: rgb(255, 0, 59);

}

.card{
    margin-bottom: 2em;
}
.card-title{
    font-weight: bolder;
    font-size: 25px;
    color:rgb(15, 171, 13);
}

.col-day{
    cursor: pointer;
}

.col-day:hover{
    color: rgb(255, 0, 59);
}
h1{
    color: rgb(15, 171, 13);
    font-weight: bold;
}

.btn-down{
    background-color: rgb(255, 0, 59);
    border-width: 0;
    border-radius: 100%;
    width: 4em;
    height: 4em;
}

.btn-down img{
    width: 3em;
    height: 3em;
}

.img-nutri{
        width: 100%;
        object-fit: cover;
        object-position: center;
        height: 100%;
    }